<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>    <add name="RabbitMQ" connectionString="amqp://admin:admin@localhost:5672/RNCB_" />
    <add name="RabbitMQAPI" connectionString="APIUrl = http://localhost:15672; Login = admin; Password = admin; VirtualHost = RNCB_" />
    <add name="redis" connectionString="host=localhost;db=10;port=6379;maxReadPoolSize=25;maxWritePoolSize=25" />
 </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>